
.OnePlaylist{
  padding-top: 5%;
  font-family: 'Nunito', sans-serif;
  margin-left:10%;
  h1{
  text-align:center;
  }
  i{
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    width:30%
  }
  p{
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width:70%;
  }
  ul{
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width:70%;
  }
  figure{
    display:block;
    margin-left: auto;
    margin-right: auto;

  }
}
