
.SoundByte{
  padding-top: 5%;
  font-family: 'Nunito', sans-serif;
  p {
    font-size: 18px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width:70%
  }
  i{
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    width:30%
  }
  figure{
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

  }
}
