
.QRFound{
  padding-top: 5%;
  font-family: 'Nunito', sans-serif;
  h1{
    text-align: center;
  }
  p{
    font-size: 18px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width:30%
  }
  h2{
    text-align:left;
    margin-left: auto;
    margin-right: auto;
    width:30%
  }
  i{
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    width:30%
  }
  figure{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
}
